.gradle
.idea
build
account-service/build
account-service/.gradle

bill-service/build
bill-service/.gradle

confige-service/build
confige-service/.gradle

deposite-service/build
deposite-service/.gradle

notification-service/build
notification-service/.gradle

gateway/build
gateway/.gradle

registry/build
registry/.gradle